.img-fluid {
  max-height: 80%;
  max-width: 80%;
}

.product-img {
  width: 200px;
  height: 200px;
}

.card-image {
  display: flex;
  height: 100%;
  width: 100%;
}

::ng-deep img {
  margin: auto;
}
