<div class="d-flex-row p-2 item">
  <div class="align-self-center">
    <div
      *ngIf="!isImageLoaded"
      class="product-img d-flex justify-content-center mx-auto my-3"
    >
      <div class="spinner-border m-auto" role="status">
        <span class="sr-only">Загрузка...</span>
      </div>
    </div>
    <div
      *ngIf="isImageLoaded"
      [routerLink]="['../', order.type, order.key]"
      class="product-img view rgba-white-slight waves-light my-3 mx-auto img-link"
      mdbWavesEffect
    >
      <mdb-card-img [src]="imageUrl" alt="Изображение"></mdb-card-img>
    </div>
  </div>
  <div class="ml-4 mt-auto mb-auto d-flex-column">
    <a [routerLink]="['../', order.type]" title="К каталогу..." class="border-bottom">
      {{ order?.type | productType }}
    </a>
    <a class="font-weight-bold order-name" [routerLink]="['../', order.type, order.key]">
      {{ product?.name }}
    </a>
  </div>
  <div class="d-flex-column ml-auto check-section p-1 grey lighten-3">
    <div class="font-weight-bold price price-full">
      {{ (product?.price * orderCount.value) | price }} р.
    </div>
    <div *ngIf="orderCount.value > 1" class="price-one">
      {{ product?.price }} р./шт.
    </div>
    <input
      type="number"
      min="1"
      [max]="product?.count"
      [formControl]="orderCount"
      class="form-control count-input p-1 mt-auto"
      mdbInput
    />
    <img
      src="../../../../assets/trash.png"
      alt="Удалить"
      (click)="onCartItemDelete()"
      title="Удалить"
      class="trash-icon ml-auto"
    />
  </div>
</div>
