<div class="container-fluid">
  <div class="row product-list">
    <div class="col-md-2 border-right pt-4">
      <div class="col px-1">
        <app-filter [filterData]="products"></app-filter>
      </div>
    </div>
    <div class="col-md-10 d-flex-column">
      <div class="row pt-4 pl-3 pr-3">
        <div *ngFor="let product of products" class="col-md-3 px-1">
          <app-product-card [product]="product"></app-product-card>
        </div>
      </div>
      <div class="row justify-content-between mt-auto border-top">
        <div class="col-md-3 my-auto">
          Найдено 322 товаров
        </div>
        <div class="col-md-3">
          <nav>
            <ul class="pagination justify-content-end mb-0">
              <li class="page-item disabled">
                <a class="page-link" href="javascript:void(0)">
                  <span aria-hidden="true">&laquo;&laquo;</span>
                </a>
              </li>
              <li class="page-item disabled">
                <a class="page-link" href="javascript:void(0)">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              <li class="page-item active">
                <a class="page-link" href="javascript:void(0)">1</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="javascript:void(0)">2</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="javascript:void(0)">3</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="javascript:void(0)">4</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="javascript:void(0)">5</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="javascript:void(0)">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
              <li class="page-item">
                <a class="page-link" href="javascript:void(0)">
                  <span aria-hidden="true">&raquo;&raquo;</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
