::ng-deep {
  .arrow {
    left: 74% !important;
  }

  ngb-popover-window {
    left: -60px !important;
    width: 260px;
  }
}

.cart-items-counter {
  position: absolute;
  text-align: center;
  width: 20px;
  height: 20px;
  z-index: 1000;
  padding-top: 1px;
  top: 2px;
  right: 8px;
  font-size: 12px;
  border-radius: 50%;
  font-weight: bold;
}

.cart-link {
  position: relative;
}

.nav-link {
  padding-right: 1rem !important;
  padding-left: 1rem !important;
}

li {
  display: flex;
}

a {
  margin: auto;
}
