<mdb-navbar
  SideClass="navbar navbar-expand-lg navbar-light blue-grey lighten-5"
  [containerInside]="false"
>
  <mdb-navbar-brand>
    <a class="navbar-brand" [routerLink]="['/']"
      >Магазин компьютерной техники</a
    >
  </mdb-navbar-brand>

  <links>
    <ul class="navbar-nav ml-auto">
      <ng-container *ngIf="(authService.user | async)?.emailVerified">
        <li class="nav-item">
          <a
            type="button"
            class="nav-link waves-dark"
            title="Профиль"
            (click)="onProfileClick()"
            mdbWavesEffect
          >
            <mdb-icon fas icon="user"></mdb-icon>
            <span>Привет, {{ username }}!</span>
          </a>
        </li>
        <div class="separator"></div>
        <li class="nav-item cart-link">
          <a
            class="nav-link waves-dark"
            type="button"
            (click)="
              shoppingCartService.itemsCount ? onShoppingCartClick() : null
            "
            [attr.mdbWavesEffect]="!!shoppingCartService.itemsCount"
            placement="bottom"
            triggers="mouseenter:mouseleave"
            [openDelay]="150"
            [closeDelay]="50"
            [disablePopover]="!!shoppingCartService.itemsCount"
            ngbPopover="Выберите товары из предложенных в каталоге"
            popoverTitle="Ваша корзина пуста"
          >
            <mdb-icon fas icon="shopping-cart"></mdb-icon>
          </a>
          <div
            *ngIf="shoppingCartService.itemsCount"
            class="cart-items-counter text-dark"
          >
            {{ shoppingCartService.itemsCount }}
          </div>
        </li>
        <div class="separator"></div>
        <li class="nav-item">
          <a
            class="nav-link waves-dark"
            type="button"
            title="Выйти"
            (click)="onSignOutClick()"
            mdbWavesEffect
          >
            <mdb-icon fas icon="sign-out-alt"></mdb-icon>
          </a>
        </li>
      </ng-container>
      <li *ngIf="!(authService.user | async)?.emailVerified" class="nav-item">
        <a
          class="nav-link waves-dark"
          type="button"
          title="Войти"
          (click)="openAuthModal()"
          mdbWavesEffect
        >
          <mdb-icon far icon="user"></mdb-icon>
          <span>Войти</span>
        </a>
      </li>
    </ul>
  </links>
</mdb-navbar>
