<mdb-navbar
  SideClass="navbar navbar-expand-lg navbar-light blue-grey lighten-5 pr-0"
  [containerInside]="false"
>
  <mdb-navbar-brand>
    <a class="navbar-brand" [routerLink]="['/']"
      >Магазин компьютерной техники</a
    >
  </mdb-navbar-brand>

  <links>
    <ul class="navbar-nav ml-auto">
      <ng-container *ngIf="(authService.user | async)?.emailVerified">
        <li class="nav-item border-right">
          <a
            type="button"
            class="nav-link waves-dark"
            title="Профиль"
            (click)="onProfileClick()"
            mdbWavesEffect
          >
            <mdb-icon fas icon="user" size="lg"></mdb-icon>
            <span>Привет, {{ username }}!</span>
          </a>
        </li>
        <li class="nav-item cart-link border-right">
          <a
            class="nav-link waves-dark"
            type="button"
            (click)="
              ordersCount ? onShoppingCartClick() : null
            "
            [attr.mdbWavesEffect]="!!ordersCount"
            placement="bottom"
            triggers="mouseenter:mouseleave"
            [openDelay]="150"
            [closeDelay]="50"
            [disablePopover]="!!ordersCount"
            ngbPopover="Выберите товары из предложенных в каталоге"
            popoverTitle="Ваша корзина пуста"
          >
            <mdb-icon fas icon="shopping-cart" size="lg"></mdb-icon>
          </a>
          <div
            *ngIf="ordersCount"
            class="cart-items-counter deep-orange text-dark"
          >
            {{ ordersCount }}
          </div>
        </li>
        <li>
          <app-work-time></app-work-time>
        </li>
        <li class="nav-item border-left">
          <a
            class="nav-link waves-dark"
            type="button"
            title="Выйти"
            (click)="onSignOutClick()"
            mdbWavesEffect
          >
            <mdb-icon fas icon="sign-out-alt" size="lg"></mdb-icon>
          </a>
        </li>
      </ng-container>
      <ng-container *ngIf="!(authService.user | async)?.emailVerified">
        <li>
          <app-work-time></app-work-time>
        </li>
        <li class="nav-item margin-left">
          <a
            class="nav-link waves-dark"
            type="button"
            title="Войти"
            (click)="openAuthModal()"
            mdbWavesEffect
          >
            <mdb-icon far icon="user" size="lg"></mdb-icon>
            <span>Войти</span>
          </a>
        </li>
      </ng-container>
    </ul>
  </links>
</mdb-navbar>
